body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-image: url(../web/src/99.jpg);
    color: #fdfdfd;
    padding: 20px;
    
  }
  
  h1 {
    margin: 0;
    font-weight: 400;
    padding: 20px;
    text-align: center;
  }
  

  main {
    margin: 20px;
  }
  
  section {
    margin-bottom: 20px;
    
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  h3 {
    color: #333;
    font-family: Arial, sans-serif;
    font-weight: 400;
  }
  
  footer {
    background-image: url(../web/src/99.jpg);
    color: #b3b3b3;
    padding: 25px;
    text-align: center;
  }
  
  .card {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
   
  }

  .card2 {
    width: 400px;
    
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   
  }
  
  .card img {
    border-radius: 8px;
    width: 76%;
    height: auto;
    
  }
  
  .card-content {
    padding: 20px;
    
  }
  
  .card-content h3 {
    margin-top: 0;
    text-align: center;
    font-size: 200%;
  }
  
  .card-content p {
    margin-bottom: 10px;
    text-align: center;
    font-family: Arial, sans-serif;      
    font-size: 150%;
  }
  
  .card-content a {
    display: inline-block;
    text-decoration: none;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
  }